.awards {
	.icon-box {
		text-align: center;
		background: rgba(204, 204, 204, 0.1);
		padding: 80px 20px;
		transition: all ease-in-out 0.3s;
		border: 1px solid var(--bs-gray-300);
		border-radius: .25rem;

		.icon {
			margin: 0 auto;
			width: 64px;
			height: 64px;
			background: var(--bs-gray-400);
			border-radius: 5px;
			transition: all 0.3s ease-out 0s;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 20px;
			transform-style: preserve-3d;

			svg,
			i {
				color: var(--bs-gray-100);
				font-size: 28px;
			}

			&::before {
				position: absolute;
				content: "";
				left: -8px;
				top: -8px;
				height: 100%;
				width: 100%;
				background: rgba(255, 255, 255, 0.15);
				border-radius: 5px;
				transition: all 0.3s ease-out 0s;
				transform: translateZ(-1px);
			}
		}

		h4 {
			font-weight: 700;
			margin-bottom: 15px;
			font-size: 24px;

			a {
				color: var(--bs-gray-800);
				text-decoration: none;
			}
		}

		p {
			line-height: 24px;
			font-size: 14px;
			margin-bottom: 0;
		}

		&:hover {
			background: var(--bs-primary);
			border-color: var(--bs-gray-800);

			.icon {
				background: #fff;

				i {
					color: var(--bs-primary);
				}

				&::before {
					background: var(--bs-info);
				}
			}

			h4 {
				a {
					color: var(--bs-gray-200);
				}
			}

			p {
				color: var(--bs-gray-200);
			}
		}
	}
}