/* root {
		minWidth: 0,
		marginTop: "10px",
		marginBottom: "10px",
		display: "flex",
	}
	card {
		width: "100%",
		marginLeft: "15px",
		marginRight: "15px",
		margin: "auto",
		transition: "0.3s",
		minHeight: "270px",
		borderRadius: ".625rem!important",
		boxShadow: "0 8px 40px -12px rgba(0,0,0,0.3)",
		"&:hover" {
			boxShadow: "0 16px 70px -12.125px rgba(0,0,0,0.3)",
		}
	}
	tittle {
		"&:active" {
			color: "#00008E",
		}
	}
	cardContent {
		minHeight: "120px",
	}
	cardActions {
		padding: "16px",
	}
	avatar {
		color: theme.palette.getContrastText(purple[500]),
		backgroundColor: purple[500],
	}
	dot {
		height: "12px",
		width: "12px",
		borderRadius: "50%",
		display: "inline-block",
	} */