body {
	padding-top: 3.375rem;
	color: #6c757d;
}

@media (min-width: 992px) {
	body {
		padding-top: 0;
		padding-left: 17rem;
	}
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	text-transform: uppercase;
}

h1,
.h1 {
	line-height: 1;
}

p.lead {
	font-size: 1.15rem;
	font-weight: 400;
}

section.resume-section {
	display: flex;
	align-items: center;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 5rem;
	padding-bottom: 5rem;
	max-width: 75rem;

	.resume-section-content {
		width: 100%;
	}
}

@media (min-width: 768px) {
	section.resume-section {
		min-height: 100vh;
	}
}

@media (min-width: 992px) {
	section.resume-section {
		padding-left: 3rem;
		padding-right: 3rem;
		padding-top: 5rem;
		padding-bottom: 5rem;
	}
}